@import "./components/Todo/_styles.scss";
@import "./components/FormTodo/_styles.scss";

#root {
  background-color: $backgroud-color-dark;
}

.App {
  height: 100vh;
  overflow: hidden;
  padding: 1rem;
}
