.task-list {
  height: 50vh;
  overflow: scroll;
}
.task-list .task {
  display: flex;
  flex-direction: column;
}
.task-list .task-actions {
  text-align: right;
}
.task-list .task-actions .done-icon {
  fill: green;
  margin-right: 1em;
  cursor: pointer;
}
.task-list .task-actions .delete-icon {
  fill: red;
  cursor: pointer;
}

.App .wrapper-card {
  width: 30vw;
  background-color: #eff1f2;
}
.App .wrapper-card .card-body {
  overflow: hidden;
}
.App .wrapper-card h1 {
  text-align: center;
}
.App .wrapper-card textarea {
  border-radius: 10px;
  padding: 1em;
}
.App .wrapper-card .form-todo .add-task {
  border: 1px solid grey;
  border-radius: 10px;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App .wrapper-card .form-todo .add-task-input {
  width: 85%;
  border: none;
}
.App .wrapper-card .form-todo .add-task-input:focus, .App .wrapper-card .form-todo .add-task-input:active {
  outline: none;
  border-color: initial;
  box-shadow: none;
}

#root {
  background-color: rgb(38, 38, 48);
}

.App {
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}