$color-white: #fff;
$color-grey: grey;
$backgroud-color-dark: rgb(38, 38, 48);

.App .wrapper-card {
  width: 50vw;
  height: 85vh;
  background-color: #eff1f2;

  .card-body {
    overflow: hidden;
  }

  h1 {
    text-align: center;
  }

  textarea {
    border-radius: 10px;
    padding: 1em;
  }

  .form-todo {
    .add-task {
      border: 1px solid $color-grey;
      border-radius: 10px;
      height: 100%;
      background-color: $color-white;
      display: flex;
      justify-content: center;
      align-items: center;

      &-input {
        width: 85%;
        border: none;

        &:focus,
        &:active {
          outline: none;
          border-color: initial;
          box-shadow: none;
        }
      }
    }
  }
}
